* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  background: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-container {
  overflow: hidden;
  max-width: 853px;
  position: relative;
  margin: auto;
  margin-top: 80px;
  border: 5px solid white;
}

.img-btn {
  width: 50px;
}

.spider-pic {
  width: 853px;
  height: 480px;
}

.carousel-container .carousel-image,
.carousel-container .carousel-image--hidden {
  display: none;
}

.carousel-container .carousel-image .spider-pic {
  width: 100%;
  max-width: 853px;
  height: auto;
}

.carousel-container .carousel-image--visible {
  display: block;
}

.carousel-container .carousel-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-container .carousel-btn button {
  border: none;
  outline: none;
  background: transparent;
}

.carousel-container .carousel-btn button:hover {
  cursor: pointer;
  background: lightblue;
  opacity: 0.3;
}

.carousel-container .carousel-btn button:active {
  opacity: 0.5;
}
